nav.primary-header {
    width: 100%;
    color: #afafaf;
    display: flex;
    background-color: darkslategrey;
    height: 2rem;
    font-family: 'Bungee', cursive;
}

a {
    color: #fed420;
    font-family: 'Gugi', sans-serif;
    font-size: 2.5rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}

a:hover {
    color: #fed420;
    text-decoration: none;
}

nav li {
    justify-content: space-evenly;
    display: flex;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Gugi';
    /* text-align: center; */
}

nav ul {
    /* padding-left: 0px; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 3rem;
    background: #fed420;
}

a.site-logo {
    margin: 1em 0;
    padding: 0;
}

@media only screen and (max-width: 750px) {
    #cur-sco,
    #top-sco {
        font-size: 2rem;
    }
}